.btns-container {
        /* background: url("../images/img-home.jpg") center center/cover no-repeat; */
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0% 5%;
}

@media screen and (max-width: 600px){
    .btns-container {
        display: block;
        text-align: center;
        padding: 0% 5%;
}

}
